<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>POKEMON</title>
</head>

<body>

    <h1>Gotta Catch Em ALL</h1>
    <div class="container">
        <% for (let i = 0; i < 5; i++) { %>
            <!-- img  -->
        <div class="poke-container">
            <a href="/<%= i %>">
                <h2><%= pokemons[i].name %></h2>
                <img src="<%= pokemons[i].img %>">
            </a>
            <p><%= pokemons[i].type %> <span><i>type</i></span> pokemon</p>
            <% if (pokemons[i].type.includes('grass') || pokemons[i].type.includes('poison')) { %>
                <%= span.style.color = 'green' %>
            <% } %>

            <% } %>
        </div>

    </div>

</body>

</html>