<!DOCTYPE html>
<html lang="en">

<!-- ============ HEAD ========= -->
<%- include('./partials/head.ejs') %>
<!-- ========= Head =========== -->

<body>

    <h1></h1>
    <a href="/"><button>Back to PokeList</button></a><br>
    <br>
    <!-- NEXT  -->
    <a href="/new"><button>Create a Pokemon</button></a>
    <Button id="changePoke" onclick="changePokemon()">Next Pokemon</Button>
    <hr>



    <div class="show-container">

        <img src="<%= pokemon.img %>">
        <ul> Type:
            <li><%= pokemon.type[0] %></li>
            <li><%= pokemon.type[1] %></li>
        </ul>
        <ul> Moves
            <li> <%= pokemon.moves.level[0].name %></li>
            <li> <%= pokemon.moves.level[1].name %></li>
        </ul>
        <ul> Abilities
            <li>hidden: <%= pokemon.misc.abilities.hidden %></li>
            <li>normal: <%= pokemon.misc.abilities.normal %></li>
        </ul>
        <ul> Damages
            <li>normal: <%= pokemon.damages.normal %></li>
            <li> <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M834.1 469.2A347.49 347.49 0 0 0 751.2 354l-29.1-26.7a8.09 8.09 0 0 0-13 3.3l-13 37.3c-8.1 23.4-23 47.3-44.1 70.8-1.4 1.5-3 1.9-4.1 2-1.1.1-2.8-.1-4.3-1.5-1.4-1.2-2.1-3-2-4.8 3.7-60.2-14.3-128.1-53.7-202C555.3 171 510 123.1 453.4 89.7l-41.3-24.3c-5.4-3.2-12.3 1-12 7.3l2.2 48c1.5 32.8-2.3 61.8-11.3 85.9-11 29.5-26.8 56.9-47 81.5a295.64 295.64 0 0 1-47.5 46.1 352.6 352.6 0 0 0-100.3 121.5A347.75 347.75 0 0 0 160 610c0 47.2 9.3 92.9 27.7 136a349.4 349.4 0 0 0 75.5 110.9c32.4 32 70 57.2 111.9 74.7C418.5 949.8 464.5 959 512 959s93.5-9.2 136.9-27.3A348.6 348.6 0 0 0 760.8 857c32.4-32 57.8-69.4 75.5-110.9a344.2 344.2 0 0 0 27.7-136c0-48.8-10-96.2-29.9-140.9z">
                    </path>
                </svg> <%= pokemon.damages.fire %></li>
            <li> <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M352 146.4c-34.4-48.6-67.5-78.5-90.8-96.6-3.1-2.4-7.3-2.4-10.4-.1-23 17.1-56.1 48.4-90.5 96.5-37.3 52-63 108.4-64.2 170.9 0 1.2-.1 2.5-.1 3.7 0 18.4 3.9 35.9 10.9 52.1 4.1 9.3 9.2 18.1 15.2 26.3 28.5 39 77.8 64.8 133.8 64.8 88.4 0 160.1-64.1 160.1-143.2 0-63.7-27-122.2-64-174.4zm-86 264.3h-.5c-9.9 0-12-14.1-2.6-17.1 45.1-14.2 69.6-38.5 86.4-80.8 3.5-8.9 16.7-6.5 16.8 3.1v1.4c-.1 51.6-44.9 93.4-100.1 93.4z">
                    </path>
                </svg><%= pokemon.damages.water %></li>
        </ul>

        <ul>Stats
            <li>hp: <%= pokemon.stats.hp %></li>
            <li>attack: <%= pokemon.stats.hp %></li>
            <li>attack: <%= pokemon.stats.hp %></li>
            <li>spattack: <%= pokemon.stats.hp %></li>
            <li>spdefense: <%= pokemon.stats.hp %></li>
            <li>speed: <%= pokemon.stats.hp %></li>
        </ul>
    </div>


    <!-- ==== JS button listener to switch to next poke on click ====  -->
    <script>
        function changePokemon() {
            // === Random pokemon for show.ejs
            const nextPokemon = pokemons[Math.floor(Math.random() * pokemons.length)]
                document.querySelector('h1').innerHTML = '<h1><%= pokemon.name %></h1>'
        }
    </script>

</body>

</html>